*.auxlock
*.nb
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.ithmc
.fuse*
*.kate-swp
*.backup
*.pdf
!_*.pdf
*.bak
Icon*
tikzaux*
Geometría de Curvas y superficies/Apoyo
output/
*.ign.*
_test.*
*.synctex.*

# Archivos a ignorar de tikzgen
!.keep
!tikzgen/.gitkeep
tikzgen/*
*.dpth
*.md5
*.dep

# .swp de Vim
*.swp

*~
*.sublime-project
*.zip
